@import '../../styles/variables';

.accommodations {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.tile {
  position: relative;
  overflow: hidden;

  &:hover {
    .overlay {
      height: 82px;
    }
  }
}

.img {
  height: auto;
  width: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  color: $primary-text;
  background-color: $primary;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
  @media(max-width: 756px) {
    height: 82px;
  }

  transition: .5s ease;
}

.title {
  margin: $spacing;
}

.subtitle {
  margin: $spacing;
  display: flex;
  justify-content: space-between;
}