@import '../../styles/variables';
@import '../../styles/navigation';

.navbar {
  background-color: $primary;
  color: $primary-text;

  &__container {
    @extend %container;
  }

  &__innerWrapper {
    @extend %innerWrapper;
  }

  &__navItems {
    @extend %linkList;
    display: none;
    flex-direction: column;
    @media #{$screen-large} {
      display: flex;
      flex-direction: row;
    }

    &--expanded {
      display: flex;
    }
  }

  &__navLink {
    @extend %link;
  }

  &__toggle {
    padding: 0 $spacing;
    position: absolute;
    align-self: flex-end;
    cursor: pointer;
    @media #{$screen-large} {
      display: none;
    }
    &--expanded {
      .navbar__bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
      }
      .navbar__bar2 {
        opacity: 0;
      }
      .navbar__bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
      }
    }
  }

  &__bar1, &__bar2, &__bar3 {
    width: 35px;
    height: 5px;
    background-color: $primary-text;
    margin: 6px 0;
    transition: 0.4s;
  }

  &__languageToggle {
    background: none;
    border: none;
    padding: 0;
    margin: 0 $spacing;
    cursor: pointer;

    display: none;
    @media #{$screen-large} {
      align-self: center;
      display: flex;
    }
    &--expanded {
      display: flex;
    }

    svg {
      width: 30px;
    }
  }
}

