@import '../../styles/variables';
@import '../../styles/navigation';

.footer {
  background-color: $primary;
  color: $primary-text;
  width: 100%;
  display: flex;

  &__container {
    width: 100%;
    @extend %container;
  }

  &__innerWrapper {
    @extend %innerWrapper;
  }

  &__linkList {
    @extend %linkList;
    display: flex;
  }

  &__link {
    @extend %link;
  }
}