@import 'variables';

.navbar {
  background-color: $primary;
  color: $primary-text;

  &__container {
    max-width: $container-width;
    margin: 0 auto;
    padding: $spacing;
  }

  &__innerWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @media #{$screen-large} {
      flex-direction: row;
    }
    align-items: flex-start;

    margin: 0 (-$spacing);
  }

  &__navItems {
    display: none;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    @media #{$screen-large} {
      display: flex;
      flex-direction: row;
    }

    &--expanded {
      display: flex;
    }
  }

  &__navLink {
    display: inline-block;
    padding: $spacing;
    color: inherit;
    text-decoration: none;
  }

  &__toggle {
    padding: 0 $spacing;
    position: absolute;
    align-self: flex-end;
    cursor: pointer;
    @media #{$screen-large} {
      display: none;
    }
    &--expanded {
      .navbar__bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
      }
      .navbar__bar2 {
        opacity: 0;
      }
      .navbar__bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
      }
    }
  }

  &__bar1, &__bar2, &__bar3 {
    width: 35px;
    height: 5px;
    background-color: $primary-text;
    margin: 6px 0;
    transition: 0.4s;
  }

  &__languageToggle {
    margin: $spacing;
    display: none;
    @media #{$screen-large} {
      align-self: center;
      margin: 0 $spacing;
      display: block;
    }
    &--expanded {
      display: block;
    }
  }
}

