@import 'variables';
@import 'navbar.scss';
@import "~react-image-gallery/styles/scss/image-gallery.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $spacing;
}